body {
  background-color: #ffffff;
}

.to-do-list{
  font-family: Arial, sans-serif;
  text-align: center;
  margin-top: 100px;
}

p {
  font-size: 2.0em;
  margin-bottom: 20px;
  color: black;
}

button {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  color: rgb(7, 7, 7);
  border: black solid 2px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5 ease;
}

.add-button {
  background-color: rgb(92, 202, 140);
}
.add-button:hover{
  background-color: rgb(23, 195, 97);
}

.delete-button {
  background-color: rgb(202, 92, 92);
}
.delete-button:hover{
  background-color: rgb(195, 23, 23);
}

.move-button {
  background-color: rgb(0, 81, 255);
  margin-left: auto;
}
.move-button:hover{
  background-color: rgb(13, 0, 255);
}

input[type="text"] {
  font-size: 1.5rem;
  padding: 10px;
  border: 2px solid #625d5d;
  border-radius: 5px;
  color: rgb(22, 24, 34)
}

ol{
  padding: 0;
}

li {
  font-size: 2rem;
  font-weight: bold;
  padding: 15px;
  background-color: rgb(240, 240, 240);
  margin-bottom: 10px;
  border: 3px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text {
  flex-grow: 1;
  flex: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.delete-button, .move-button {
  padding: 8px 12px;
  font-size: 1.4rem;
  margin-left: 10px;
}