.welcome-message {
  font-size: 24px;
  background-color: yellowgreen;
  color: #e2dddd;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
}

.login-prompt {
  font-size: 24px;
  background-color: rgb(215, 46, 24);
  color: #e2dddd;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  margin-top: 20px;
}


