body{
  font-family: Arial, sans-serif;

}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 50px;
  font-size: 3rem;
}

.color-display{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(126, 115, 115);
  border-radius: 25px;
  margin-bottom: 30px;
  font-size: 1.5rem;
}